body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color:#F0F8FF; 
}

#root{
  min-height: 100%;
  margin: 0 auto;
  width: 100%;
}

.red-box {
  background-color: red;
  width: 200px;
  height: 200px;
}

.divmini{
  display: flex;
  gap: 10px;
}

.red-box-mini {
  background-color: red;
  width: 50px;
  height: 50px;
}

.divInicial{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.Inputs{
  background-color: white;
  border-radius: .5em;
}

.divButons>Button{
  margin: 10px;
}

/** Nuevos estilos*/

.reactplayer{
  width: 100%;
  height: 100%;
  max-width: 80%;
  margin: 0 auto;
}

.div_body{
  width: 100%;
  height: 100%;
  margin: 1em;
}

.header{
  background-color: #000B0D;
  color: whitesmoke;
  height: 10vh;
  display: flex;
  align-items: center;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsBlack{
  background-color: black;
  color: white;
}

.logo_Header{
  height: 2em;
}

.div_logo_header{
  display: flex;
    flex-direction: column;
    align-items: center;
}