body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color:rgba(21, 74, 81, 1); 
}

#root{
  min-height: 100%;
  width: 80%;
  margin: 0 auto;
}

.red-box {
  background-color: red;
  width: 200px;
  height: 200px;
}

.divmini{
  display: flex;
  gap: 10px;
}

.red-box-mini {
  background-color: red;
  width: 50px;
  height: 50px;
}

.divInicial{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: whitesmoke;
}

.Inputs{
  background-color: white;
  border-radius: .5em;
}

.divButons>Button{
  margin: 10px;
}

/* Color Theme Swatches in Hex */
.Squid-1-hex { color: #1C8394; }
.Squid-2-hex { color: #154B52; }
.Squid-3-hex { color: #000B0D; }
.Squid-4-hex { color: #390D02; }
.Squid-5-hex { color: #A52502; }

/* Color Theme Swatches in RGBA */
.Squid-1-rgba { color: rgba(28, 131, 147, 1); }
.Squid-2-rgba { color: rgba(21, 74, 81, 1); }
.Squid-3-rgba { color: rgba(0, 11, 13, 1); }
.Squid-4-rgba { color: rgba(56, 13, 2, 1); }
.Squid-5-rgba { color: rgba(165, 36, 2, 1); }

/* Color Theme Swatches in HSLA */
.Squid-1-hsla { color: hsla(188, 67, 34, 1); }
.Squid-2-hsla { color: hsla(186, 58, 20, 1); }
.Squid-3-hsla { color: hsla(188, 100, 2, 1); }
.Squid-4-hsla { color: hsla(12, 93, 11, 1); }
.Squid-5-hsla { color: hsla(12, 97, 32, 1); }
